* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
html{
    scroll-behavior: smooth;
}

#banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(aqua,lightgreen);
    background-size: cover;
    background-position: center;

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#070707;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e52626;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 12%;
    font-size: 30px;
    margin-left: 10%;

}
.header-text h1{
    font-size: 60px;
    margin-top: 12px;

}
.header-text p{
    font-size:20px ;
    margin-top: 12px;
}
.header-text h1 span{
    color: #e52626;
}
.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.image img{
    height: 80%;
    position: absolute;
    left: 60%;
    bottom: 35%;
    transform: translateX(-50%);
}
#about{
    padding: 80px 0;
    color: rgb(11, 10, 11);
    background: linear-gradient(aqua,lightgreen);
    background-size: cover;
    background-position: center;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 10%;
}
.about-col-2{
    flex-basis:55%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #080808;
}
.about-col-2 p{
    margin-top: 15px;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}
.tab-links::after{
    content: '';
    height: 3px;
    width: 10%;
    background: #e52626;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.tab-links span{
    color: aqua;
}

.tab-links.active-link::after{
    width: 40%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #e11a1a ;
    font-size: 16px;
}